$icon-size: relative(50px, $unit: 1rem);

.gaas-achievement-cell {
  display: flex;
  align-items: center;

  .gaas-cell-icon {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;

    img { max-width: 100%; }
  }
  .gaas-pie-chart {
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
  }


  .gaas-cell-body {
    margin-left: 1em;
    flex: 1 1 auto;
  }

  .gaas-cell-title,
  .gaas-cell-desc {
    line-height: relative(20px, $unit: 1rem);
    margin: 0;
  }
  .gaas-cell-title {
    color: #333;
    font-size: 1em;
    font-weight: 500;
  }
  .gaas-cell-desc {
    color: #666;
    font-size: relative(14px);
    font-weight: 300;
  }
}

.gaas-cell-icon.hide-icon {
  border: 1px dashed #999;

  img { display: none; }

  &:before {
    content: '?';
    width: 100%;
    height: 100%;
    color: #999;
    text-align: center;
    font-size: relative(26px, $unit: 1rem);
    line-height: $icon-size;
    font-weight: 100;
    display: block;
  }
}
