$widget-width: 360px;
$widget-width-relative: relative($widget-width, $unit: 1rem);

.gaas-notification {
  @include type-reset;

  width: $widget-width-relative;
  max-width: 100%;
  background-color: transparentize(white, .25);
  -webkit-backdrop-filter: blur(3px);
  margin: 0 auto;
  padding: 1em 1.5em;

  @media (min-width: $widget-width-relative) {
    border-radius: relative(5px, $unit: 1rem);
  }

  .gaas-notification + .gaas-notification {
    margin-top: 1em;
  }

  .gaas-btn-close {
    $btn-font-size: 24px;

    width: 2rem;
    height: 2rem;
    background: relative($btn-font-size, $unit: 1rem);
    color: #aaa;
    font-size: 24px;
    line-height: 1;
    font-weight: 100;
    outline: none;
    border: none;
    border-radius: relative(3px, $unit: 1rem);
    margin-right: -0.7rem;
    padding: 0;
    flex: 0 0 auto;
    appearance: none;
    cursor: pointer;

    span {
      vertical-align: relative(2px, $btn-font-size);
    }

    &:hover, &:focus {
      background-color: rgba(0,0,0,.05);
      color: #666;
      border: 1px solid rgba(0,0,0,.05);
    }
    &:active {
      background-color: rgba(0,0,0,.1);
    }
  }
}
