.gaas-summary-board {
  @include type-reset;
  background-color: #fbf7ec;
  margin: relative(30px) 0;
  border-radius: relative(6px) relative(6px) relative(12px) relative(12px);
}
.gaas-board-header {
  background-color: #01b5b6;
  text-align: center;
  border-radius: relative(6px);
  padding: relative(18px) 0;
}
.gaas-board-title {
  width: relative(449px, $unit: 1rem);
  height: relative(64px, $unit: 1rem);
  background: url('../images/summary_board_title.png') no-repeat;
  text-indent: -99999px;
  display: inline-block;
  margin: 0;
}

.gaas-board-body {
  padding: relative(30px, $unit: 1rem);
}
