@import "mixins";
@import "animations";
@import "achievement_cell";
@import "achievements_list";
@import "summary_board";
@import "notification";

#gaas-stack {
  width: 100%;
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 9000;
}
