<div class="gaas-achievement-cell">
  <div class="gaas-cell-icon hide-icon">
    <img src="http://images.apple.com/v/mac/shared/osx/f/images/builtinapps/safari_nav_large.png">
  </div>
  <div class="gaas-cell-body">
    <h5 class="gaas-cell-title">Frequent visitor</h5>
    <p class="gaas-cell-desc">Continuous log in for 30 days.</p>
  </div>
</div>
