<div class="gaas-notification" aria-role="dialog">
  <img class="notify-icon" src="{{icon_url}}"/>
  <div class="notify-body">
    <h4 class="notify-title">{{title}}</h4>
    <p class="notify-desc">{{desc}}</p>
  </div>

  <button type="button" class="btn-close"aria-label="Close">
    <span>&times;</span>
  </button>
</div>
