<div class="gaas-summary-board">
  <h4 class="gaas-board-title">Achievements</h4>

  <ul class="gaas-achievements-list">
    {{#each cells}}
      <li class="gaas-list-item">{{> achievement_cell}}</li>
    {{/each}}
    <li class="gaas-list-placeholder"></li>
    <li class="gaas-list-placeholder"></li>
  </ul>
</div>
